@mixin border-radius ($topleft, $topright, $bottomright, $bottomleft) {
  border-radius: $topleft $topright $bottomright $bottomleft;
  -moz-border-radius: $topleft $topright $bottomright $bottomleft;
  -webkit-border-radius: $topleft $topright $bottomright $bottomleft;
}

@mixin word-wrap() {
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  -ms-word-break: break-all;
  overflow-wrap: break-word;
  word-break: break-word;
  word-wrap: break-word;
}
