---
layout: default
position: 10
---

<section>
    {% for post in paginator.posts %}

        {% for label in post.label %}
            {% if label == "note" %}
                {% assign p = "c-post--type-3" %}
            {% elsif label == "quote" %}
                {% assign p = "c-post--type-2" %}
            {% else %}
                {% assign p = "c-post--type-1" %}
            {% endif %}
        {% endfor %}

        <a class="c-post c-post--brief {{p}}" href="{{ post.url | prepend: site.baseurl }}" >
            <article>
                {% for label in post.label %}
                    <span class="c-post__label">{{ label }}</span>
                {% endfor %}
                <h2 class="c-post__title">
                    {{ post.title }}
                </h2>
                {% if post.description.nested %}
                  {% for nested in post.description.nested %}
                    <p>{{ nested.description }}</p>
                  {% endfor %}
                {% else %}
                  <p>{{ post.description }}</p>
                {% endif %}
                <p class="c-post__meta">{{ post.date | date_to_long_string }}</p>
            </article>
        </a>
    {% endfor %}
</section>

<section class="pagination">
  <p>
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="c-button" style="margin-right: 1rem;">Newer posts</a>
    {% endif %}
    (Page {{ paginator.page }} of {{ paginator.total_pages }})
    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="c-button" style="margin-left: 1rem;">Older posts</a>
    {% endif %}
  </p>
</section>
