<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:700&family=PT+Serif:400,700" rel="stylesheet">
  <script src="{{ "/static/scripts/google-analytics.js" | prepend: site.baseurl }}" ></script>

  <link rel="icon" href="{{ "/static/images/favicon.ico" | prepend: site.baseurl }}">

  <style type="text/css">
    body{background-image: url(static/images/background-howard-dyer.svg); background-position: top; background-repeat: no-repeat; background-size: cover; margin-top: 130px; padding: 0 2rem; text-align: center;}
    .logo{max-width: 500px; width: 100%;}
    h1{color: #384F5B; font-family: "Open Sans"; font-size: 1.5rem; font-weight: 700; margin-top: 40px;}
    a:link,a:visited{color: #6C7172; font-family: "PT Serif"; font-weight: 400;}
    a:hover{color: #E8A78B;}
  </style>

</head>
