// ############################
// Code highlighting
// ############################

// sass-lint:disable no-color-literals, variable-for-property

pre {
    &.highlight {
        background-color: $black;
        color: $white;
        padding: $value-m;
        margin-bottom: $value-m;
    }
}

.highlight {

    pre {
        background-color: $black;
    }

    .hll {
        background-color: #22282a;
    }

    .c {
        color: #99aa8a;
    }

    .err {
        color: #960050;
        background-color: #1e0010;
    }

    .k {
        color: #93c763;
    }

    .l {
        color: #ae81ff;
    }

    .n {
        color: #f1f2f3;
    }

    .o {
        color: #e8e2b7;
    }

    .p {
        color: #f1f2f3;
    }

    .ch {
        color: #99aa8a;
    }

    .cm {
        color: #99aa8a;
    }

    .cp {
        color: #99aa8a;
    }

    .cpf {
        color: #99aa8a;
    }

    .c1 {
        color: #99aa8a;
    }

    .cs {
        color: #99aa8a;
    }

    .gd {
        color: #e8e2b7;
    }

    .ge {
        font-style: italic;
    }

    .gi {
        color: #678cb1;
    }

    .gs {
        font-weight: bold;
    }

    .gu {
        color: #99aa8a;
    }

    .kc {
        color: #93c763;
    }

    .kd {
        color: #93c763;
    }

    .kn {
        color: #e8e2b7;
    }

    .kp {
        color: #93c763;
    }

    .kr {
        color: #93c763;
    }

    .kt {
        color: #83d8e1;
    }

    .ld {
        color: #ec7600;
    }

    .m {
        color: #ffcd22;
    }

    .s {
        color: #ec7600;
    }

    .na {
        color: #678cb1;
    }

    .nb {
        color: #f1f2f3;
    }

    .nc {
        color: #678cb1;
    }

    .no {
        color: #93c763;
    }

    .nd {
        color: #678cb1;
    }

    .ni {
        color: #f1f2f3;
    }

    .ne {
        color: #678cb1;
    }

    .nf {
        color: #678cb1;
    }

    .nl {
        color: #f1f2f3;
    }

    .nn {
        color: #f1f2f3;
    }

    .nx {
        color: #678cb1;
    }

    .py {
        color: #f1f2f3;
    }

    .nt {
        color: #e8e2b7;
    }

    .nv {
        color: #f1f2f3;
    }

    .ow {
        color: #e8e2b7;
    }

    .w {
        color: #f1f2f3;
    }

    .mb {
        color: #ffcd22;
    }

    .mf {
        color: #ffcd22;
    }

    .mh {
        color: #ffcd22;
    }

    .mi {
        color: #ffcd22;
    }

    .mo {
        color: #ffcd22;
    }

    .sb {
        color: #ec7600;
    }

    .sc {
        color: #ec7600;
    }

    .sd {
        color: #ec7600;
    }

    .s2 {
        color: #ec7600;
    }

    .se {
        color: #ae81ff;
    }

    .sh {
        color: #ec7600;
    }

    .si {
        color: #ec7600;
    }

    .sx {
        color: #ec7600;
    }

    .sr {
        color: #ec7600;
    }

    .s1 {
        color: #ec7600;
    }

    .ss {
        color: #ec7600;
    }

    .bp {
        color: #f1f2f3;
    }

    .vc {
        color: #f1f2f3;
    }

    .vg {
        color: #f1f2f3;
    }

    .vi {
        color: #f1f2f3;
    }

    .il {
        color: #ffcd22;
    }
}
