// ############################
// Properties
// ############################

$measure-large: 60/$site-base + rem;
$measure-regular: 40/$site-base + rem;
$measure-small: 20/$site-base + rem;
$measure-xsmall: 10/$site-base + rem;
// h3 margin-top uses *2

$border-width-regular: 5/$site-base + rem;
$border-width-small: 1/$site-base + rem;

$border-radius: 2/$site-base + rem;
