$font-size-base: 67.5%;

$font-size-heading: 2.5rem;
// h3 font-size uses *.75
// post-title uses *1.5
$font-size-body: 1.5rem;
// font-3 uses *.75

$font-line-height-heading: 1.5;
$font-line-height-body: 1.7;

// Custom fonts

@import url(https://fonts.googleapis.com/css?family=Merriweather:300,700|Open+Sans:400,700);

$font-1: Merriweather, serif;
$font-1-weight-heading: 700;
$font-1-weight-body: 300;

$font-2: "Open Sans", sans-serif;
$font-2-weight-heading: 700;
$font-2-weight-body: 400;

$font-3: "Courier New", monospace;
$font-3-weight-heading: 700;
$font-3-weight-body: 400;

// Custom font stacks

$font-1-heading: $font-1-weight-heading $font-size-heading #{'/'} $font-line-height-heading $font-1;
$font-1-body: $font-1-weight-body $font-size-body #{'/'} $font-line-height-body $font-1;

$font-2-heading: $font-2-weight-heading $font-size-heading #{'/'} $font-line-height-heading $font-2;
$font-2-body: $font-2-weight-body $font-size-body #{'/'} $font-line-height-body $font-2;

$font-3-body: $font-3-weight-body $font-size-body*.75 #{'/'} $font-line-height-body $font-3;
