$measure-large: 6rem;
$measure-regular: 4rem;
$measure-small: 2rem;
$measure-xsmall: 1rem;
// h3 margin-top uses *2

$border-width-regular: .5rem;
$border-width-small: .1rem;

$border-radius: .25rem;
