// ############################
// Components
// ############################

$logo-large-width: 400/$site-base + rem;

$social-icon-regular-width: 30/$site-base + rem;
$social-icon-large-width: 40/$site-base + rem;
