// ############################
// Colours
// ############################

$blue: #608BA3;
$darkblue: #384F5B;
$orange: #E8A78B;
$green: #9BD1BE;

$black: #333;
$darkgrey: #777;
$grey: #BBB;
$lightgrey: #EEE;
$white: #FFF;
