// ############################
// Base
// ############################


html {
    background-color: $grey-xxl;
    height: 100%;
}

body {
    @include word-wrap();
    height: 100%;
    color: $grey-d;
    font-family: $font-family-serif;
    font-size: $site-base;
    font-weight: $font-weight-m;
    line-height: $font-line-height-l;
}
