// ############################
// Structure
// ############################

main {
    background-color: $lightgrey;
    box-shadow: inset 0 $border-width-regular 0 $grey;
    padding: $measure-large $measure-xsmall $measure-large;
}
