// ############################
// Typography
// ############################

body {
    color: $darkgrey;
}

h1 {
    color: $blue;
    font: $h1-properties;
    margin-bottom: $measure-small;
}

h2,
h3,
h4 {
    color: $darkblue;
    margin-bottom: $measure-small;
}

h2 {
    font: $h2-properties;
}

h3 {
    font: $h3-properties;
    margin-top: $measure-regular;
}

h4 {
    font: $h4-properties;
}

p,
ul,
code {
    @include word-wrap();
}

p {
    font: $body-serif-properties;
    margin-bottom: $measure-xsmall;
}

ul {
    font: $body-serif-properties;
    margin-bottom: $measure-small;
    margin-left: $measure-small;
}

code {
    color: $white;
    font: $body-mono-properties;
    text-align: left;
}

footer {
    color: $white;
}
