// ############################
// Typography
// ############################


h1 {
    @include px-rem-size("font-size", $font-size-l);
    color: $blue-l;
    font-family: $font-family-sans;
    margin-bottom: $value-m;
}

h2 {
    @include px-rem-size("font-size", $font-size-l);
    // color: $blue-l;
    font-family: $font-family-sans;
}

h3 {
    margin-top: $value-l;
}

ul {
    margin-left: $value-m;
}

h2,
h3,
ul,
p {
    margin-bottom: $value-sm;
}

pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

code {
    font-family: $font-family-mono;
}
