<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    <header class="c-header">
        <div class="o-wrapper u-space-bottom-p-none">
            {% include header.html %}
        </div>
    </header>

    <div class="o-wrapper">
        <main class="c-post c-post--full">
            <h1 class="c-post__title">{{ page.title }}</h1>
            <p class="c-post__meta">{{ page.date | date_to_long_string }}</p>
            <section class="c-post__main">
                {{ content }}
            </section>
            <a href="#" class="c-button">Back to top</a>
            <a href="/" class="c-button">Back to Home</a>
        </main>
    </div>

    <footer class="c-footer">
        {% include footer.html %}
    </footer>

  </body>

</html>
