<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    <header class="c-header">
      {% include header.html %}
    </header>

    <main class="c-post">
        <div class="o-wrapper">
            <h2 class="c-post__title">{{ page.title }}</h2>
            <p class="c-post__meta">{{ page.date | date_to_long_string }}</p>
            <section class="c-post__main">
                {{ content }}
            </section>
            <a href="#" class="c-button">Back to top</a>
            <a href="/" class="c-button">Back to Home</a>
        </div>
    </main>

    <footer class="c-footer">
      {% include footer.html %}
    </footer>

  </body>

</html>
