<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    <header class="primary">
      <div class="wrapper">
        {% include header.html %}
      </div>
    </header>

    <main class="primary">
      <div class="wrapper">
        <header style="text-align: center;">
          <h2>{{ page.title }}</h2>
          <p class="info">{{ page.date | date_to_long_string }}</p>
        </header>
        {{ content }}
        
      </div>
    </main>

    <footer class="primary">
      {% include footer.html %}
    </footer>

  </body>

</html>
