// ############################
// Buttons
// ############################


.c-button {

    background-color: $blue-l;
    display: inline-block;
    margin-right: $value-s;
    padding: $value-m;
    text-decoration: none;

    &:link,
    &:visited {
        color: $white;
    }

    &:hover {
        background-color: $blue-d;
    }

}
