// ############################
// Footer
// ############################


.c-footer {
    background-color: $blue-d;
    border-top: solid $value-s $grey-l;
    color: white;
    text-align: center;
}
