// ############################
// Header
// ############################


.c-header {
    background-color: $white;
    background-image: image($c-header-image);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: $value-l;
    text-align: center;
}
