// ############################
// Labels
// ############################


.c-label {
    text-align: center;


    &__content {
        @include border-radius(0, 0, $value-s, $value-s);
        background-color: $grey-d;
        border-top: solid $value-s $grey-xd;
        box-shadow: 0 $value-s 0 $grey-xl;
        color: $white;
        display: inline-block;
        font-family: $font-family-sans;
        padding: $value-sm $value-m;
        text-transform: uppercase;
    }

    &--top {
        margin-top: -$o-wrapper-padding-top-bottom;
    }


}
