// ############################
// Posts
// ############################

.post {
    &__container {
        margin-top: $measure-regular;
    }

    &__item {
        &--listed {
            border-bottom: solid $border-width-small $grey;
            clear: both;
            margin-bottom: $measure-large;
            padding-bottom: $measure-regular;
            text-align: left;
        }

        &--full {
            .post__header {
                border-bottom: solid $border-width-small $grey;
                margin-bottom: $measure-large;
                padding-bottom: $measure-regular;
            }
            .post__footer {
                border-top: solid $border-width-small $grey;
                margin-top: $measure-large;
                padding-top: $measure-large;
            }
        }
    }

    &__title {
        font-size: $post-title-font-size;
        margin-bottom: $measure-small;
    }

    &__meta {
        color: $blue;
        font: $body-sans-serif-properties;
        margin-top: $measure-small;
        text-transform: uppercase;
    }
}
