// ############################
// Posts
// ############################


.c-post {

    &__main {
        margin-bottom: $value-xxl;
    }

    &__title {
        @include px-rem-size("font-size", $font-size-xl);
        color: $blue-d;
    }

    &__meta {
        color: $blue-l;
        font-family: $font-family-sans;
        margin-bottom: $value-xxl;
        text-transform: uppercase;
    }

    &:first-child {
        margin-top: $value-l;
    }

}
