// ############################
// Posts
// ############################


.c-post {

    $self: &;
    $post-types :
        ('--type-1', #{$blue-l}),
        ('--type-2', #{$orange}),
        ('--type-3', #{$green});

    background-color: $white;
    border-color: $blue-l;
    border-top-style: solid;
    border-top-width: $value-s;
    box-shadow: 0 $value-xs $value-s 0 $grey-xl;
    display: block;
    padding: $value-m;

    &__main {
        margin-bottom: $value-l;
    }

    &__title {
        color: $blue-l;
        margin-bottom: $value-sm;

        #{ $self }--brief & {
            text-decoration: underline;
        }

        #{ $self }--full & {
            @include px-rem-size("font-size", $font-size-xl);
        }
    }

    &__meta {
        color: $grey-l;
        margin-bottom: 0;

        #{ $self }--full & {
            margin-bottom: $value-l;
        }
    }

    &__label {
        @include px-rem-size("font-size", $font-size-s);
        border-color: $grey-l;
        border-style: solid;
        border-width: $value-xs;
        color: $grey-l;
        float: right;
        margin-left: $value-m;
        padding: $value-s $value-sm;

        @each $type in $post-types {
            #{ $self }#{nth($type, 1)} & {
                background: #{nth($type, 2)};
                border-color: $white;
                color: $white;
            }
        }
    }

    &__image {
        border: dashed $value-xs $grey-xl;
        max-width: 100%;
        padding: $value-m;
    }

    &--brief {
        margin-bottom: $value-l;
        text-decoration: none;
    }

    @each $type in $post-types {
        &#{nth($type, 1)} {
            border-color: #{nth($type, 2)};
            &:hover,
            &:focus {
                background: #{nth($type, 2)};

                * {
                    color: $white;
                }
            }
        }
    }

}
