// ############################
// Social
// ############################


.c-social {

    &__item {
        text-decoration: none;
        margin: 0 $value-sm;
    }

    &__icon {
        width: $c-social-icon-width;

        &--header {
            fill: $blue-d;
        }

        &--footer {
            fill: $white;
        }

        &:hover {
            fill: $orange;
        }

    }

}
