// ############################
// Tech specs
// ############################


.c-tech-specs {
    color: $blue-l;
    margin-bottom: $value-l;
    
    *:not(:last-child) {
        margin-bottom: 0;
    }
}
