.button {
  background: $blue;
  font: $font-2-body;
  margin-right: $measure-small;
  padding: $measure-small;
  text-decoration: none;

  &:link,
  &:visited {
    color: $white;
  }

  &:hover {
    background: $darkblue;
  }
}
