.logo {
  margin-bottom: $measure-regular;
  max-width: $logo-large-width;
}

.social__icon {
  margin: 0 $measure-xsmall;
}

.social__icon--header {
  fill: $darkblue;
  width: $social-icon-large-width;
}

.social__icon--footer {
  fill: $white;
  width: $social-icon-regular-width;
}
