.label-container {
  text-align: center;

}

.label-container--nudge-up {
  margin-top: -$measure-large; // subtract main padding
}

.label {
  color: $white;
  font: $font-2-body;
  display: inline-block;
  padding: $measure-xsmall;
  text-transform: uppercase;
}

.label--top {
  @include border-radius(0, 0, $border-radius, $border-radius);
  background-color: $darkgrey;
  border-top: solid $border-width-regular $black;
  box-shadow: 0 $border-width-regular 0 $grey;
}

.label--bottom {
  @include border-radius($border-radius, $border-radius, 0, 0);
  background-color: $blue;
  box-shadow: 0 -$border-width-regular 0 $grey;
}

.label--link:hover {
  background-color: $orange;
}
