// ############################
// Wrapper
// ############################

.o-wrapper {
    margin: 0 auto;
    padding: $o-wrapper-padding-top-bottom $value-m;
    max-width: $window-max;
    width: 100%;
}
